@import "partials/reset";
@import "partials/core-elements";
// @import "partials/typography";




// Global Styles ======================================================================
html, body{  margin: 0; }

* {
  margin: 0;
    -webkit-font-smoothing: antialiased!important;
    -moz-font-smoothing: grayscale!important;
    font-smoothing: antialiased!important;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition-duration: .3s; /* Safari */
    transition-duration: .3s;
}


// ====================================================================================

@import "partials/folio/folio-typography";
@import "partials/folio/folio-slide";
@import "partials/folio/folio-content";

// ====================================================================================

