
// xl sizes

.flex-container{            // -webkit-  is for Safari
  -webkit-flex-flow:        column;
  flex-flow:                column;
  -webkit-justify-content:  center;
  justify-content:          center;
  -webkit-align-items:      center;
  align-items:              center;
}

.bubblewrap{
  display:                  -webkit-inline-flex; /* Safari */
  display:                  inline-flex;
  -webkit-flex-flow:        column;
  flex-flow:                column;

  position:relative;
  min-width:1280px;
  min-height:900px;
  padding-right:0px;
  padding-bottom:0px;
}

.bubble{
  position:absolute;
  min-height:250px;
  min-width:250px;
  margin-top:20px;
  margin-left:0px;
}

// Bubble positions =========================================================

.bubbleLogo{ top:126px; left:316px; height:364px; width:364px; }

.bubbleStatement{ top:265px; left:667px; height:442px; width:442px; }

.bubbleProfile{ top:74px; left:674px; min-height:184px; min-width:184px; }

.bubbleWeb{ top:398px; left:170px; min-height:184px; min-width:184px; }

.bubbleBranding{ top:656px; left:577px; min-height:184px; min-width:184px; }

.bubblePrint{ top:636px; left:370px; min-height:184px; min-width:184px; }

.bubblePlayground{ top:508px; left:510px; min-height:139px; min-width:139px; }

.bubbleEmail{top:42px; left:862px;  min-height:110px; min-width:110px; }

.bubbleCustard{top:271px; left:185px;  min-height:110px; min-width:110px; }

.bubbleLaughingBag{top:592px; left:262px;  min-height:110px; min-width:110px; }

.bubbleTshirts{top:505px; left:370px;  min-height:110px; min-width:110px; }

.bubbleIllustration{top:19px; left:563px;  min-height:110px; min-width:110px; }

.bubbleLinkedIn{top:174px; left:871px;  min-height:72px; min-width:72px; }

.bubbleClients{top:724px; left:780px;  min-height:110px; min-width:110px; }

.bubbleShare{top:165px; left:950px;  min-height:88px; min-width:88px; }


// TYPE SIZES ==================================================================

.logo{
  display:inline-block;
  border-left: 2px solid $Orange;
  padding-left:6px;
  text-align:left;
  position:absolute;
  top:120px;
  left:40px;

}

.logo h1{
  top:0px;
  left:0px;
  font-size:80px;
  line-height:68px;
  margin-top: 3px;
  margin-bottom: -16px;
  word-spacing:-12px;
  .tight{ 
    letter-spacing:-1.4px;
  }
}

.statement{
  font-weight: 300;
  font-size: 28px;
  line-height: 30px;
  margin-top:-7px;
  letter-spacing:0.25px;
}

.bubblePrint, .bubbleWeb, .bubbleBranding, .bubbleProfile {
  font-size:42px;
  font-weight:normal;
  letter-spacing:0.5px;
}

.bubblePlayground, .bubbleTshirts, .bubbleClients {
  font-size:32px;
  font-weight:normal;
  letter-spacing:0.5px;
}

.bubbleIllustration, .bubbleLaughingBag, .bubbleEmail {
  font-size:28px;
  font-weight:normal;
  letter-spacing:0.25px;
}

.bubbleCustard {
  font-size:25px;
  font-weight:normal;
  letter-spacing:0px;
}

.bubbleLinkedIn {
  font-size:22px;
  font-weight:normal;
  letter-spacing:0.25px;
}





